@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:400,600);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$background: #F2F2F2;
$dark: #313233;
$primary: #3396FF;
$green: #46be8a;
$red: #ff0000;
$warning: #f2a654;
$purple: #926dde;
$pink: #f96197;
$fontDefault: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontSecound: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;


html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 130px 0 0 0;
    background-color: $background;
    font-family: $fontDefault;
    height: 100%;
    box-sizing: border-box;   
    position: relative; 
}

/* bordas e plano de fundo das caixa */
.box-default {
    border: 1px solid #DADADA;
    background: #fff;
    box-sizing: border-box;
}

.wrap {
    margin: 0 auto 30px auto;
}

/* retira o padding do item */
.no-padding {
    padding: 0 !important;
}

.h1, h1 {
    font-size: 2rem;
}
.h2, h2 {
    font-size: 1.5rem;
}
.h3, h3 {
    font-size: 1.3rem;
}

/* paginacao */
.pagination-wrap {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    clear: both;

    .page-numbers {
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            float: left;
            margin: 0 5px 5px 0;
            padding: 0;

            a {
                display: block;
                text-align: center;
                padding: 5px 18px;
                border: 1px solid #e3e3e3;
                color: #666;
                background: transparent;
                text-decoration: none;
            }
            a:hover {
                background: #000;
                color: #fff;
                border-color: #000;
            }
            span {
                display: block;
                text-align: center;
                color: #fff;
                background: $primary;
                padding: 5px 18px;
                border: 1px solid $primary;
            }
        }
    }
}


blockquote {
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 0 1em;
    border-left: 0.2em solid $primary;
    font-family: $fontDefault;
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 100;
    margin-bottom: 3em;

    p {
        display: inline;
        margin: 0;
        padding: 0 6px 0 6px;
    }

    &:before, &:after {
        content: '\201C';
        font-family: $fontSecound;
        color: $primary;
    }

    &:after {
        content: '\201D';
    }

    cite {
        float: right;
    }
}

.wp-block-pullquote {
    blockquote {
        text-align: left;
        p {
            font-size: 1.0em; 
        }

        cite {
            float: right;
        }
    }
}

cite {
    font-size: 0.8em;
    font-style: italic;
    color: #747373 !important;
}


pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    font-family: $fontDefault;
    font-size: 0.9em;
    background: #f8f8f8;
    border: none !important;
    box-shadow: none !important;
}

pre code {
    border: none;
    background: none;
    line-height: 1em;
    letter-spacing: normal;
    word-break: break-all;
    border: none !important;
    box-shadow: none !important;
}

code {
    font-family: Monaco, monospace !important;
    font-size: 0.8em;
    line-height: 100%;
    background-color: #eee;
    padding: 0.2em;
    letter-spacing: -0.05em;
    word-break: normal;
}

/* contact form 7 */
.wpcf7-form {
    label {
        display: block;
        clear: both;

    }
    .form-group {
        display: block;
        clear: both;
    }
}

iframe {
    max-width: 100%;
    height: auto;
}

@import 'header.scss';
@import 'footer.scss';
@import 'sidebar.scss';
@import '404.scss';
@import 'index.scss';
@import 'author.scss';
@import 'image.scss';
@import 'single.scss';
@import 'wordpress.scss';
@import 'comments.scss';

.topBottom-leftRightCorner .ui-border-element::before,
.topBottom-leftRightCorner .ui-border-element::after,
.topBottom-leftRightCorner::before,
.topBottom-leftRightCorner::after {
    border-width: 3px;
}

/* CORES DO TEMA */
/* cores das bordas */
.topBottom-leftRightCorner .ui-border-element::before,
.topBottom-leftRightCorner .ui-border-element::after,
.topBottom-leftRightCorner::before,
.topBottom-leftRightCorner::after {
    border-color: $primary;
}

.categories-list li a:hover {
    color: $primary !important;
}

h2, h3, h4, h5, h6 {
    a:hover {
        color: $primary !important;
    }
}

/* volume do player de áudio */
.plyr--full-ui input[type="range"] {
    color: $primary;
    outline: none;
}
.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded="true"] {
    background: $primary;
    outline: none;
}
.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded="true"] {
    background: $primary;
    outline: none;
}

.posted-on, .logged-in-as, .entry-content, .comment-content {
    a {
        color: $primary;
    } 
}
.plyr__control--overlaid {
	background: $primary;
}
.comment-edit-link, .url {
    color: $primary;
}

@import 'theme-green.scss';
@import 'theme-red.scss';
@import 'theme-warning.scss';
@import 'theme-purple.scss';
@import 'theme-pink.scss';