/* lista de categorias no site */
.categories-list {
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 0;
}
.categories-list li {
    margin-bottom: 11px;
    padding-bottom: 12px;
    border-bottom: 1px solid #DEDEDE;
    font-size: 14px;
}
.categories-list li a {
    text-decoration: none;
    display: block;
    color: #000;
}
.categories-list li a:hover {
    text-decoration: underline;
    color: #2196f3;
}
.categories-list li a:before {
    content: "\f105";
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 15px;
    font-size: 90%;
    font-weight: bold;
}
.categories-list li span {
    float: right;
    font-style: italic;
    color: #888;
    font-weight: normal;
    font-size: 11px;
}