@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:400,600);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$background: #F2F2F2;
$dark: #313233;
$fontDefault: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontSecound: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

html, body {
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
}
body {
    padding: 130px 0 0 0;
    background-color: $background;
    font-family: $fontDefault;
}

main {
    transform: translateX(0);
    transition: all .25s linear;
    width: 100%;
}
main.open {
    transform: translateX(280px);
}

/* bordas e plano de fundo das caixa */
.box-default {
    border: 1px solid #DADADA;
    background: #fff;
    box-sizing: border-box;
}

/* retira o padding do item */
.no-padding {
    padding: 0 !important;
}

/* paginacao */
.pagination-wrap {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    clear: both;

    .page-numbers {
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            float: left;
            margin: 0 5px 0 0;
            padding: 0;

            a {
                display: block;
                text-align: center;
                padding: 5px 18px;
                border: 1px solid #e3e3e3;
                color: #666;
                background: transparent;
                text-decoration: none;
            }
            a:hover {
                background: #000;
                color: #fff;
                border-color: #000;
            }
            span {
                display: block;
                text-align: center;
                color: #fff;
                background: #3396FF;
                padding: 5px 18px;
                border: 1px solid #3396FF;
            }
        }
    }
}

@import 'header.scss';
@import 'footer.scss';
@import 'sidebar.scss';
@import '404.scss';
@import 'index.scss';
@import 'image.scss';
@import 'single.scss';
@import 'wordpress.scss';