@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:400,600);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    overflow: auto;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 160px 0 0 0;
    background-color: #F2F2F2;
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* 
 MENU - https://codepen.io/andornagy/pen/RNeydj
 https://codepen.io/una/pen/pVvXmK
*/

main {
    transform: translateX(0);
    transition: all .25s linear;
    width: 100%;
}
main.open {
    transform: translateX(280px);
}

@import 'header.scss';
@import 'footer.scss';
@import '404.scss';
