@charset "UTF-8";
/* CARROSSEL */
.wrapCarousel {
    max-width: inherit;
    margin-bottom: 25px;
}

.carousel-item .carousel-caption h5,
.carousel-item .carousel-caption p {
    font-family: $fontSecound;
}

/* HOME */
.content-home {
    @extend .box-default;
    padding: 30px;
    /*width: 97%; */
    width: 100%;

    article {
        padding-bottom: 40px;
        width: 100%;
        display: inline-block;
        box-sizing: border-box;

        .thumb {
            /* float: left; */
            display: inline-block;
            width: 98%;
            margin: 0 1%;

            a {
                display: block;
                margin: 0;
                padding: 0;
                width: 100%;

                span.ui-border-element {
                    img {
                        /* max-width: 218px;*/
                        width: 100%;
                    }
                }
            }
        }
        .details {
            /* float: right;
            margin-left: 10px;
            width: 440px; */
            width: 98%;
            margin: 1%;

            h2 {
                font-size: 20px;
                font-family: $fontDefault;
                margin: 0;
                
                a {
                    color: #000;
                    text-decoration: none;
                }
            }
            a.time {
                font-size: 11px;
                font-family: $fontSecound;
                color: #000;
                text-decoration: none;
                margin-top: 5px;
            }
            p {
                font-size: 13px;
                font-family: $fontSecound; 
                margin-top: 5px;

                a {
                    color: #777;
                    text-decoration: none;
                }
            }
        }
    }
}