@charset "UTF-8";
/* SINGLE */
.content-single {
    @extend .box-default;
    padding: 0 0 30px 0;
    width: 100%;
    margin-bottom: 30px;

    img.img-fluid {
        width: 100%;
    }

    article {
        padding: 30px 30px 0 30px;
        min-height: 300px;

        header {
            margin-bottom: 30px;

            .entry-meta {
                font-family: $fontSecound;
                font-size: 12px;
                color: #9e9e9e;
                margin: 30px 0 0 0;
            }
        }

        h1 {
            font-size: 25px;
            font-family: $fontDefault;
        }

        .entry-content {
            font-weight: normal;
            font-size: 14px;
            font-family: $fontSecound;

            h1, h2, h3, h4, h5, h6 {
                font-family: $fontDefault;
                color: $primary; 
            }
            h1 {
                font-size: 25px;  
            }
            h2 {
                font-size: 23px;  
            }
            h3 {
                font-size: 21px;   
            }
            h4 {
                font-size: 19px; 
            }
            h5 {
                font-size: 17px; 
            }
            h6 {
                font-size: 15px; 
            }

            .wp-block-embed__wrapper,
            .wp-block-preformatted {
                position: relative;
                padding-bottom: 56.25%; /* 16:9 */
                padding-top: 25px;
                height: 0;

                iframe, object, embed {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100% !important;
                    height: 100% !important;
                }
            }
            .wp-block-video {
                overflow: hidden;
                width: 100%;

                .plyr {
                    width: inherit;
                    .plyr__controls {
                        width: inherit;
                    }
                    .plyr__video-wrapper {
                        width: inherit;

                        video {
                            width: inherit;
                        }
                    }
                }
            }
            .wp-block-audio {
                overflow: hidden;
                width: 100%;
            }
        }

        footer {
            margin: 30px 0;

            .cat-links {
                font-size: 13px;
                
                a {
                    color: #747373;
                }
                a:hover {
                    color: #000;
                }
            }

            .author-biography {
                padding-top: 10px;
                border-top: 1px solid #dedede;
            }

            .prev-next-content {
                margin: 15px 0;
                width: 100%;
                display: inline-block;
                clear: both;
            }

            .relatedPosts .jcarousel-wrapper ul li h2,
            .relatedPosts .jcarousel-wrapper ul li h2 a {
                font-family: $fontDefault !important; 
                color: #000;           
            }

        }

        .comment-notes {
            font-size: 12px;
        }
        .comment-form-cookies-consent {
            label {
                font-size: 12px;
                margin-left: 5px;
            }
        }
        .comments-link {
            a {
                color: $primary;
            }
        }

        #comments-title {
            font-size: 1rem;
        }
        .media-heading {
            a {
                color: $primary; 
            }
        }

        #comments {

            .btn-comment {
                background: $primary;
                color: #fff;
                outline: none;
                border: 0;
                border-radius: 0;
                font-size: .8rem;
            }

            .media-list {
                margin: 0;
                padding: 0;

                .comment-body {
                    width: 100%;
                    box-sizing: border-box;
        
                    .media-left {
                        display: inline-block;
                        margin: 0;
                        float: left;
                    }
                    .media-body {
                        float: right;
                        margin: 0;
                        width: 85%;

                        .comment-meta {
                            margin: 0 0 10px 0;
                            font-size: 1rem;

                            h5 {
                                font-size: 1rem;
                            }

                            .comment-awaiting-moderation {
                                font-size: 0.8rem;
                            }
                        }

                        .comment-content {
                            font-size: 0.9rem;
                        }
                        .comment-metadata {
                            font-size: 0.9rem;
                            a {
                                color: $primary;
                            }
                        }
                    }
                }
            }
        }
    }
}